@font-face {
  font-family: 'ZapfinoCustom';
  src: url('./assets/fonts/Zapfino.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans text-gray-800;
}
